article{
    background-color:seagreen;
    overflow: hidden;
    
}


.elemento-exemplo{
    width: 200px;
    height: 200px;
    line-height: 200px; /*centraliza centro da div o texto de forma vertical (cima/baixo)*/
    text-align: center;/*centraliza centro da div o texto de forma horizontal (esquerda e direita)*/
    color: #fff;
    text-transform: uppercase; /*maiuscula text*/

   
}

.float-el-exemplo-first{
    background-color: blueviolet;
    float: right;
  

}

.float-el-exemplo-last{
    background-color: brown;
    float: right;
 

}

.elemento-paragrafo{
 clear: left;
}


