/*usando para ligunas que tem acentuacao*/
@charset "UTF-8";

/*Font-face- usado para colocar fontes que voce baixou e que esta em um outro arquivo*/
@font-face{
    font-family:'FontLogo' ;
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/*importando uma fonte do googl;e fontes e colocando no <h2> header*/
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body{
    background-color:#dddddd;
    color:rgba(0,0,0,1);
    font-family: Arial, Helvetica, sans-serif;
}  

div#interface{
    width: 1000px;
    background-color: #ffffff;

    /*centralizando a <div>*/
    margin: -20px auto 0px auto; /* -20x pq mesmo se colocamos 0 ele nao ficaria encostado em cima, entao calculamos -20px que era o espaco que tinha*/

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) ; /*fazer um sombreamento na div*/

    padding: 10px; /*para separar o text da borda*/ 
}

p{
    text-align: justify;
    text-indent:50px;/*move a primeira linha do paragrafo*/
   
}

a{
    color: #606060;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*HEADER********************************/

    header#header-menu{
        height: 155px;
        border-bottom: 1px dotted #606060 ; /*colocando uma linha para dividir o cabecario do texto pricipal*/

        /*imagem da logo marca do google glass*/
        background-image: url('../_imagens/glass-logo-peq.jpg'); /*por ser um background nao vai ter a opcao de salvar imagem*/
        background-repeat: no-repeat;
        background-position: 0px 80px;

    }

    /*aqui coloco a img do oculos absolut (ela vai flutuar e posiciono na parte de cima com uma distancia do lado esquerdo da tela*/
    header#header-menu img#icone-glass-header{
        position: absolute;
        left: 971px;
        top: 70px;
    }


    /*H1 e H2 -  Configurando os titulo*/
    header#header-menu h1{
        color: #5e5e5e;
        font-size: 30px;

        /*esta fonte e uma fote que foi exportada e esta em uma pasta externa*/
        font-family: 'FontLogo', Helvetica, sans-serif;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        padding: 0px;
        margin-bottom: 0px;
    }

    header#header-menu h2{
        color: #626262;
        font-size: 15px;
        padding: 0px;
        margin-top: 0px;
        font-family: 'Berkshire Swash', cursive;
    
    
    }

/*END HEADER**********************/


/*MENU********************************/

    nav#menu h1{
        display: none;/*vai esconder porem vai ser util para sistemas SEO de pesquisa*/
    }

    /*para que o menu flutue e fique na posicao correta, temos que fazer com que o menu seja um display:block (diplay bloco faz flutuar pela tela)
    */
    nav#menu{
        display: block; /*vai fazer flutuar pela tela */
    }
    /*dentro da tag <nav> vou no id"menu" e tudo que estive dentro do ul vai ter o seguinte estilo*/
    nav#menu ul{
        list-style: none;/*vai tira a bolinha da lista*/
        text-transform: uppercase; /*colocando o menu em MAIUSCULO*/

        position: absolute;/*quero apenas que a lista flutue pela tela*, para que passe por cima dos documentos */
        top: -20px;
        left: 500px;      
    }

    /*formatacao para cada item da LISTA, transfomando os item vertical para horizontal*/
    nav#menu li{
    display: inline-block; /*vai fazer, vai fazer que um bloco seja exibido em uma mesma linha*/    
        background-color: #dddddd;
        padding: 10px;/*espaco dentro da caixa entre o texto*/
        margin: 2px;/*vai criar um espaco entre os botoes do menu*/ 

        transition: background-color 1s; /* vai fazer a transisao no background-color quando o mouse passar no menu*/

    }

    nav#menu li:hover{ /*houver: serve para musar de cor quando o mouse passar*/
        background-color: #606060;
    }

    /*formatando todos os links, na tag <nav> com id:menu e que tenha um link uma ancora <a> vai ter:*/
    nav#menu a{
        color: #000000;
        text-decoration: none; /*tira o underline do link*/
    }

    /*mudando a cor do menu quando o mouse passar por cima*/
    nav#menu a:hover{
        color: #ffffff;
        text-decoration: underline;
    }
/*END MENU****************************/

/*SEMATICA HTML*/
/*SECTION/ASIDE/FOOTER **************/
/*(com Divisao entre a Section/Aside/Footer *******/

    /*SECTION-start*/
    section#corpo{
        display: block;
        width: 575px;
        float: left;
        border-right: 1px solid black; /*linha que vai dividir section do aside*/
        padding-right: 15px;
        padding-left: 15px;
    }

    header#header-artigo h1{
        font-family:'FontLogo', sans-serif;
        font-size: 20pt;
        color: red;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    article#noticia-principal header#header-artigo h2{
        font-size: 13pt;
        color: #cecece;
        background-color: white;
        margin: 0px;
    }

    header#header-artigo h3{
        font-size: 12px;
        color: #606060;

    }

    .direita{
        text-align: right;
    }

    /*fomatando todos os <h2> do article*/
    article#noticia-principal h2{
        font-size: 16px;
        color: #606060;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
        margin: 10px 0px 10px 0px ;
    }

    /*ASIDE-start*/
    aside#lateral{
        display: block;
        width: 364px;
        float: right;
        padding-right: 15px;
        padding-left: 15px;
        background-color: #dddddd;
        padding:10px ;
        margin-top: 10px;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }

    aside#lateral h1{
        font-family:'FontLogo', sans-serif;
        font-size: 20pt;
        color: #606060;
        margin-top: 0px;
    }
 
    aside#lateral h2{
        background-color: #606060;
        font-size: 13pt;
        color: white;
        padding: 5px;
    }


    /*FOOTER-start*/
    footer#footer{
        display: block;
        clear: both; /*clear e para limpar o floater colocar no section e aside*/
        border-top: 1px solid black;  /*linha que vai dividir section e aside do ffoter*/

    }

    footer#footer p{
        text-align: center; 
    }


/*END SECTION****************************/

/*IMAGEM GRANDE  ********************/

    /*Formatacao de imagens com legendas*/

    /*tudo que for do <figure> de class "foto-legenda" vai ter esse style abaixo (nome da <tag>.nome da class) */
    figure.foto-legenda{
        position: relative; /* ela vai ficar em um aposicao relativa ao code html onde  <figure> e dentro dele vai ter a tag figcaption que tera um posicao absoluta ao pai */
        border: 8px solid white;
        box-shadow: 1px 1px 4px black; /*esta e uma pequena sombra na borda*/
    }

    /*imagem estava vazando da borda, entao seletor abaixo diz: que dentro de figure class foto-legenda <tag> img vai ter o stylo, entao se aumentar ou diminuir o browser a imagen vai diminuir e aumentar automaticamente*/
    figure.foto-legenda img{
        width: 100%;
        height: 100%;
    }

    /*configurando a legenda, ela esta na tag <figcaption> 
    */
    figure.foto-legenda figcaption{
        opacity: 0; /*(opacity vai de 0-1)*/
        /*vai fazer com que o texto desaparenca temporaria mente, e so aparece quando o mause for passado em cima, porem para isso e necesario criar uma novo seletor (figure.foto-legenda:hover figcaption) com :hover */
        position:absolute; /* recebeu esta posicao para que a tag <figcaption> fique dentro do tag pai <figure> */
        top: 0;/*referece a posicao absolute com top 0, porem e necessario que o pai tenha posicao reletiva*/

        background-color: rgba(0,0,0,0.4);/*camada transparente para que o texto seja exibida udando o rgba*/
        color: #ffffff;
        /*conf largura e altura abaixo: 
        vai fazer criar borda de cor petra e transparente dentro da imagem que vai fazer a legenda flutuar dentro da figura*/
        width: 100%;
        height: 100%;
    

        padding: 10px;  /*criou um espaco dentro da legenda quanto maior mas o texto se distanciar da borda*/
        box-sizing: border-box; /*vai fazer com que o padding nao ultrapasse a borda da figura criando um box dentro da borda */
        transition: opacity 1s ; /* transition e o tempo que leva para aparecer na tela, entao estou dizendo que o paramentro opacity vai receber uma trasition de 1 segundo. entao quando passar o mouse em cima vai levar 1 segundo para aparecer - 1s= 1segundo*/
    }

        /*foi criado pois criei um opacity: 0 no seletor figure.foto-legenda figcaption{} 
        */
        figure.foto-legenda:hover figcaption{
            opacity: 1; /*opacity de 1 = 100%*/
        }

/*END-IMAGEM GRANDE *********************/


/*TABLE**********************************/


    table#tabelaspec {
        border: 1px solid #606060; /* criar a tabela so a linha ao redor como um quadrado*/
        border-spacing: 0px;/*vai tirar o espaco que foi criado na tabela*/

        /*margin left/right vai deixar a tabela centralizada*/
        margin-left: auto;
        margin-right: auto;
       
    }

    table#tabelaspec td {
        border: 1px dashed red; /* criar a linhas dentro da tabela */
        padding: 10px;/* mais espaco interno dentro da celula da tabela*/
        text-align: center;
        vertical-align: middle;
    }

    /*formatando cada coluna(celula - left/rigth)*/
    table#tabelaspec td.coluna-esquerda{
        background-color: #606060;
        color: #ffffff;
        text-align: right;
        vertical-align: top;
        font-weight: bold;

    }
    table#tabelaspec td.coluna-direita{
        background-color: #cecece;
        text-align: left;
    }

    /*fomatanto o titulo da tabela*/
    table#tabelaspec caption{
        color: #888888;
        font-size: 17.33px;
        font-weight: bold;
    }
    
    /*formatando o <span> que esta no titulo*/
    table#tabelaspec caption span{
        display: block;/*mostra como bloco flutuate, e vai se desconecta do testo*/
        float: right;/* como o diplay in bloco vou dizer que vai flutuar a direita*/
        color: black;
        font-size: 10.66px ;
        margin-top: 10px;/*vai fazer que o texto encoste na tabela movendo para baixo*/
    }




/*END TABLE*******************************/
